@import url('https://fonts.googleapis.com/css2?family=Inter:wght@230;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: linear-gradient(180deg, rgba(255, 176, 58, 0.75) 0%, rgba(255, 221, 83, 0.674665) 29.77%, rgba(255, 239, 94, 0.644531) 88.02%, rgba(255, 176, 58, 0.75) 99.22%, rgba(241, 166, 54, 0.3975) 99.98%, rgba(255, 242, 116, 0.527262) 99.99%, rgba(255, 176, 58, 0.75) 100%, rgba(255, 240, 100, 0.612305) 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 41px;
}

.imagem-cabecalho {
    height: 80px;
}

.menu-cabecalho{
    display: flex;
    gap: 79px;
}

.menu-item{
    font-family: 'Inter', sans-serif;
    color: #882323bb;
    font-size: 25px;
    font-weight: 500;
}

.menu-item:hover{
    color: #ffffff
}

.conteudo1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo11{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo-conteudo11{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 96px;
    width: 599px;
    height: 229px;
    color: #CA2626;
}

.subtitulo-conteudo11{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #882323a2;
}

.botao-conteudo11{
    background-color: #8E1B1B;
    width: 283px;
    height: 77px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.botao-conteudo11:hover {
    background-color: #552222;
}

.imagem-conteudo11{
    height: 553px;
}

.conteudo2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #CA2626;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.conteudo3{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 35px;
    margin-top: 180px;

}

.rodape {
    padding: 100px;
    display: flex;
    align-items: center;
}

.logo-rodape{
    width: 300px;
    height: 59px;
    display: block;
    margin: 0 auto;
}

.titulo_faq{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #CA2626;
    margin-bottom: 12px;
    margin-left: 12px;
    
}

.itemfaq{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #CA2626;
    background-color: #d17a4825;
    width: max-content;
}

.itemcont{
    background-color: #ffffff75;
    width:max-content;
}
