@import url('https://fonts.googleapis.com/css2?family=Inter:wght@230;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: linear-gradient(180deg, rgba(254, 159, 17, 0.75) 0%, rgba(255, 239, 94, 0.644531) 16.67%, rgba(255, 240, 100, 0.612305) 81.25%, rgba(255, 253, 217, 0) 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 41px;
}

.imagem-cabecalho {
    height: 90px;
}

.menu-cabecalho{
    display: flex;
    gap: 79px;
}

.menu-item{
    font-family: 'Inter', sans-serif;
    color: #C16969;
    font-size: 32px;
    font-weight: 500;
}

.menu-item:hover{
    color: #2c0505
}

.conteudo1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo11{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo-conteudo11{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 96px;
    width: 599px;
    height: 229px;
    color: #CA2626;
}

.subtitulo-conteudo11{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #C16969;
}

.botao-conteudo11{
    background-color: #8E1B1B;
    width: 324px;
    height: 88px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.botao-conteudo11:hover {
    background-color: #461c1c;
}

.imagem-conteudo11{
    height: 553px;
}

.conteudo2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #DE5454;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.rodape {
    padding: 100px;
}

.logo-rodape{
    width: 300px;
    height: 59px;
    display: block;
    margin: 0 auto;
}
